.landing-app {
  & .pages-list {
    gap: 5px;
    & li .page-btn {
      border: 0;
      padding: 5px;
      font-size: rem(16px);
      background: #1f1f1f;
      color: whitesmoke;
      border: 1px solid transparent;
      &:hover {
        background: whitesmoke;
        color: #1f1f1f;
        border: 1px solid #1f1f1f;
      }
    }
  }
}
